*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

input [type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*Основной блок*/
.content {
  display: inline-flex;
  padding: 133px 30px;
  justify-content: center;
  align-items: start;
}
/*Левый блок*/
.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-inline-end: 30px;
  margin-block-start: 79px;
}
/*ЛБ-Блок с видео*/
.result__video-container {
  position: relative;
}
/*Плейр*/
.result__video {
  object-fit: cover;

  width: 707px;
  height: 386px;
}
/*Форма*/
.search-form {
  display: flex;
  align-items: flex-end;
  width: 711px;
  height: 54px;
}

/*Блок Город-Время*/
.search-form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  border: none;
  width: fit-content;
  cursor: pointer;
}
.search-form__fieldset:first-child {
  margin-inline-end: 29px;
  margin-block-end: 3px;
}
.search-form__fieldset:nth-child(2) {
  margin-inline-end: 5px;
  margin-block-end: 10px;
  width: 260px;
}
/*Заголовок Город-Время*/

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

/*Текстовое поле*/
.search-form__textfield {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  color: rgba(255, 255, 255, 0.7);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  width: 225px;
}
.search-form__textfield:active {
  border: 1px solid white;
  outline: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(input:focus-visible) {
  outline-offset: 1px;
  outline: 1px solid white;
}

/*Блок время*/

label span {
  display: inline-block;
  vertical-align:baseline;
}

input[type="checkbox"] + span {
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid white;
}

input[type="checkbox"]:checked + span {
  background-image: url(../images/Group_38.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

label .search-form__pseudo-checkbox:hover +span {
  text-decoration-line: underline;
  cursor: pointer;
}
.search-form__label-text:hover {
  text-decoration-line: underline;
  cursor: pointer;
}
.search-form__label {
  margin-inline-end: 10px;
  padding-block-end: 2px;
}

/*Кнопки*/
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;

  flex-shrink: 0;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-family: Fira Sans Condensed;
}
.button:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

.button:active {
  background: #545050;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline-offset: 1px;
  outline: 1px solid white;
}

/*Кнопка -Найти*/
.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-block-end: 5px;
}
/*Кнопка -Смотреть еще*/
.more-button {
  width: 399px;
  height: 34px;
}
/*Правый блок*/
.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-track-color: #1b1919;
  width: 399px;
  height: 534px;
}

/*Заголовок правый блок*/
.title {
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-top: 4px;
}
.content__accent {
  color: #545050;
}
/*Блок описание- видео, правый блок*/
.content__list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: relative;
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
/*Постеры */
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  flex-shrink: 0;
}
/*Описание  "ссылки"*/
.content__card-link {
  text-decoration: none;
}
.content__video-card-title {
  color: #fff;
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.content__video-card-description {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 90%;
}

.content__video-card-description-container:hover {
  text-decoration-line: underline;
  cursor: pointer;
  text-decoration-color: white;
}

.content__video-card-description-container:active {
  text-decoration: none;
  background: #545050;
}

.visually-hidden {
  position: absolute; /* элемент вырывают из потока */
  width: 1px; /* делают элемент очень маленьким, но таким, чтобы не пропал совсем */
  height: 1px;
  margin: -1px; /* элемент убирают из поля зрения, сдвинув на размер самого себя */
  padding: 0; /* обнуляют отступы, они есть у некоторых элементов по умолчанию */
  border: 0; /* убирают границу, она тоже может быть у каких-то элементов */
  clip: rect(
    0 0 0 0
  ); /* это свойство обрезает видимую область до нулевого значения */
  overflow: hidden; /* на всякий случай скрывают видимое за пределами блока */
}
