*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

input [type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*Основной блок*/
.content {
  display: flex;
  align-items: end;
  justify-content: center;
}
/*Левый блок*/
.result {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-inline-end: 30px;
}
/*ЛБ-Блок с видео*/
.result__video-container {
  position: relative;
}
/*Плейр*/
.result__video {
  object-fit: cover;
  object-position: center;
  width: 711px;
  height: 386px;
}

/*Форма*/
.search-form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/*Блок Город-Время*/
.search-form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: fit-content;
  border: none;
  width: fit-content;
  cursor: pointer;
}

/*Заголовок Город-Время*/
.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 4px;
}

/*Текстовое поле*/
.search-form__textfield {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  color: #fff;
  font-family: Fira Sans Condensed, Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  min-width: 225px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__label:has(input:focus-visible) {
  outline-offset: 1px;
  outline: 1px solid #fff;
}

/*Блок время*/
label span {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}
.search-form__label {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid #fff;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox {
  background-color: #fff;
  background-position: center;
  background-size: contain;
  border: solid 1px black;
  box-shadow: 0 0 0 1px white;
}

label .search-form__pseudo-checkbox:hover + span {
  text-decoration-line: underline;
}
.search-form__label-text:hover {
  text-decoration-line: underline;
}

/*Кнопки*/
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  flex-shrink: 0;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-family: Fira Sans Condensed, Arial, sans-serif;
}
.button:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

.button:active {
  background: #545050;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline-offset: 1px;
  outline: 1px solid #fff;
}

/*Кнопка -Найти*/
.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-block-end: -3px;
}
/*Кнопка -Смотреть еще*/
.more-button {
  width: 399px;
  height: 34px;
}
/*Правый блок*/
.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
  scrollbar-track-color: #1b1919;
  width: 399px;
}

/*Заголовок правый блок*/
.title {
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-top: 4px;
}
.content__accent {
  color: #545050;
}
/*Блок описание- видео, правый блок*/
.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  position: relative;
  overflow-y: auto;
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
/*Постеры */
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}
/*Описание  "ссылки"*/
.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
}
.content__card-link :focus {
  outline: none;
}
.content__card-link :focus-visible {
  outline: 1px solid #fff;
}
.content__card-link:hover {
  text-decoration-line: underline;
  cursor: pointer;
  text-decoration-color: #fff;
}

.content__card-link:active {
  text-decoration: none;
  background: #545050;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.content__video-card-description {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 90%;
}

.visually-hidden {
  position: absolute; /* элемент вырывают из потока */
  width: 1px; /* делают элемент очень маленьким, но таким, чтобы не пропал совсем */
  height: 1px;
  margin: -1px; /* элемент убирают из поля зрения, сдвинув на размер самого себя */
  padding: 0; /* обнуляют отступы, они есть у некоторых элементов по умолчанию */
  border: 0; /* убирают границу, она тоже может быть у каких-то элементов */
  clip: rect(
    0 0 0 0
  ); /* это свойство обрезает видимую область до нулевого значения */
  overflow: hidden; /* на всякий случай скрывают видимое за пределами блока */
}
